.history{
    border: 1px solid black ;
    border-collapse: collapse;
    width: 100%;
}

.history-cells{
    border: 1px solid black ;
    padding: 5px;
    text-align: center;   
}

.centerButton{
    display: flex;
    justify-content: center;
  }

.no-history-data{
    background-color: tomato;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hp-div{
    display: flex;
    align-items: center;
    gap: 20px;
}